################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/app/dx11dec/dx11dec/out.yuv
